<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/site.css">
  </head>
  <body>
    <header>
      <h1>George Zalepa</h1>
      <h2>Omnitemporal Expressionism</h2>
    </header>
    
    <main>
      {{ content }}
    </main>
    
    <footer>
      <p>© 2025 Art Redacted LLC</p>
      <p>888 Newark Ave., B123, Jersey City, NJ 07306</p>
      <p><a href="mailto:george@zalepa.org">george@zalepa.org</a></p>
      <p><a href="https://www.instagram.com/georgezalepa">instagram</a></p>
    </footer>
  </body>
</html>